body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

nav {
  background-color: white;
  padding: 10px 0;
}
h2{
  margin-left: 20px;
}

.Categories{
  float:left;
}

.nav-link {
  color: #2d4f1c;
  text-decoration: none;
  border: 1px solid #2d4f1c;
  font-size: 12px;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 1px gray;
}

.selected {
  color: red;
  border: 1px solid #2d4f1c;
  box-shadow: 1px 2px 2px #000000;
}

#contact-info {
	float:left;

}
#thecontacts{
	margin-left: 600px;
	margin-bottom: 100px;
	text-decoration: none;
}
#contacts{
  margin-left: -80px;
}


.img-list{
  float: left;
  width: 50px;
  height: 75px;
}
#listing{
  list-style-type: none;

}
.person-info{
  margin: 10px;
}

.footer-title{
  margin-left: 50px;
}

.limargin{
  margin-left: 50px;
}
